@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400px;500px;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400px;500px;700&family=Spartan:wght@400px;700&display=swap");

:root {
  --dark-blue: #070724;
  --space-grey: #37374e;
  --purple: #6d2ed5;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Spartan", sans-serif;
  color: white;
}

html {
  height: 100vh;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-color: var(--dark-blue);
  background-image: url(assets/background-stars.svg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
}

.header-inner-container {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 16px;
  border-bottom: 1px solid var(--space-grey);
  background-color: var(--dark-blue);
  background-image: url(assets/background-stars.svg);
}

.header-logo {
  font-family: "Antonio", sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.unstyled-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header-menu-icon {
  transition: all 0.2s ease-in-out;
  width: 24px;
  height: 16px;
}

.header-menu-icon.menu-open {
  width: 32px;
  height: 24px;
}

.nav-mobile-menu {
  position: absolute;
  left: -100%;
  height: calc(100vh - 70px);
  background-color: #070724;
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
  width: 100%;
  margin-top: 70px;
}

.nav-mobile-menu.menu-open {
  left: 100%;
  transform: translateX(-100%);
}

.header-tablet-menu {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 24px 16px;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid var(--space-grey);
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.nav-link-title {
  margin-left: 24px;
  font-size: 16px;
}

.nav-link img {
  margin-left: auto;
  width: 12px;
  height: 12px;
}

.body-wrapper {
  margin-top: 70px;
}

.body-wrapper.menu-open {
  display: none;
}

.planet-tab-container {
  position: fixed;
  width: 100%;
  background-color: var(--dark-blue);
  background-image: url(assets/background-stars.svg);
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  border-bottom: 1px solid var(--space-grey);
}

.planet-tab {
  padding: 16px 0px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-family: "Antonio", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.planet-tab[data-selectedtab="true"] {
  border-bottom-color: var(--purple);
}

.planet-page-container {
  position: relative;
  top: 125px;
  z-index: -1;
  margin: 0px 36px;
  padding-bottom: 30px;
}

.planet-info-container {
  margin-top: 64px;
  text-align: center;
}

.planet-info-image {
  display: block;
  width: 50%;
  margin: 0px auto 0px;
}

.planet-info-name {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.planet-info-description {
  margin-top: 16px;
}

.planet-info-source-container {
  margin-top: 16px;
  color: #959696;
}

.planet-info-source {
  color: inherit;
}

.planet-info-source-link {
  font-weight: bold;
  color: inherit;
}

.planet-specs-list-container {
  margin: 32px;
}

.planet-specs-list-container > * + * {
  margin-top: 16px;
}

.planet-specs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid var(--space-grey);
}

.planet-specs-data {
  font-size: 1m;
}

.planet-specs-value {
  font-size: 1.25rem;
}

.planet-info-tab-list-container {
  display: none;
}

@media (min-width: 768px) {
  .header-inner-container {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 40px 20px 0px;
  }

  .header-menu-button,
  .nav-mobile-menu,
  .planet-tab {
    display: none;
  }

  .header-tablet-menu {
    display: flex;
    align-self: stretch;
    margin-top: 20px;
  }

  .nav-link {
    flex: 1;
    justify-content: center;
    color: #727275;
    font-size: 14px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  .body-wrapper {
    margin-top: 0px;
  }

  .planet-page-container {
    top: 180px;
  }

  .planet-info-container {
    text-align: left;
  }

  .planet-info-container-with-tabs {
    display: flex;
    align-items: center;
  }

  .planet-info-description {
    margin-top: 36px;
  }

  .planet-info-source-container {
    margin-top: 36px;
  }

  .planet-tab-container {
    display: none;
  }

  .planet-info-tab-list-container {
    margin-left: 48px;
  }

  .planet-info-tab-list-container > * + * {
    margin-top: 12px;
  }

  .planet-info-tab-list-container {
    display: block;
  }

  .planet-info-tab-container {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    border: 1px solid var(--space-grey);
    font-size: 0.8rem;
  }

  .planet-info-tab-container:hover {
    background-color: var(--space-grey);
  }

  .planet-info-tab-container[data-selectedtab="true"] {
    background-color: var(--purple);
  }

  .planet-info-tab-number {
    color: #959696;
  }

  .planet-info-tab-title {
    margin-left: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .planet-specs-list-container {
    display: flex;
    margin-top: 40px;
  }

  .planet-specs-container {
    flex: 1;
    flex-direction: column;
    align-items: stretch;
  }

  .planet-specs-list-container > * + * {
    margin-top: 0px;
    margin-left: 16px;
  }
}

@media (min-width: 1024px) {
  .header-inner-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
  }

  .header-tablet-menu {
    margin-top: 0px;
  }

  .nav-link {
    padding: 32px 16px;
  }

  .planet-page-container {
    top: 70px;
    margin: 0px 64px;
    padding-bottom: 0px;
  }

  .planet-info-container {
    display: flex;
    text-align: left;
  }

  .planet-info-image-container {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .planet-info-image {
    width: 60%;
    margin: 0px;
  }

  .planet-info-container-with-tabs {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .planet-info-tab-list-container {
    margin-top: 32px;
    margin-left: 0px;
  }

  .planet-specs-list-container {
    margin: 128px 0px;
  }

  .planet-specs-data {
    font-size: 1rem;
  }

  .planet-specs-value {
    font-size: 2.5rem;
  }
}
